<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mesterséges Intelligencia</title>
        <!--<link href="/style.css" rel="stylesheet" type="text/css">-->
		<script>
			'use strict';

			function toLogin(){
				window.location = "http://www.localhost:3000/";
			}
		</script>
	</head>
	<body>
		<div>
			<h2>Session expired!</h2>
			<input type="button" id="tologin" value="Go to login" onclick="toLogin()">
		</div>
	</body>
</html>