<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mesterséges Intelligencia</title>
        <link rel="stylesheet" href="/styles/mainStyle.css" type="text/css">
	</head>
	<body>
		<div>
			<div class="dropBase signOut">
				<a href="/"><button class="signOutButton">Kilépés</button></a>
			</div>
			<h1 class="center title">Fájlok feltöltése</h1>
			<p></p>
			<div class="center">
				<a href="/home"><div class="dropBase">
					<button class="dropButton home">Főoldal</button>
				</div></a>
				<div class="dropBase">
					<button class="dropButton">Fájlok</button>
					<div class="dropContent">
						<a href="/files">Tananyagok</a>
						<a href="/fileUpload">Feltöltés</a>
					</div>
				</div>
				<div class="dropBase">
					<button class="dropButton">Programok</button>
					<div class="dropContent">
						<a href="/programmes">Demonstrációk</a>
						<a href="/programmeUpload">Feltöltés</a>
					</div>						
				</div>
			</div>				
		</div>
	</body>
</html>